* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cleanerfix::after{
  content: "";
  clear: both;
  display: table;
}

.conteiner {
  width: 920px;
  margin: auto;
}

header .conteiner {
  height: 80px;
  background-color: rgba(229,121,230,255);
  margin-top: 20px;
}

.yellow {
  background-color: rgba(225,214,122,255);
  height: 330px;
  margin-top: 20px;
}

aside{
  width: 20%;
  background-color: rgba(171,207,231,255);
  margin-top: 15px;
}

section {
  width: 58%;
  background-color: rgba(171,207,231,255);
  margin: 10px 1%;
}

.background {
 background-color: rgba(1,133,255,255);
 margin-top: 20px;
}

footer .conteiner {
  height: 50px;
  background-color: rgba(132,3,250,255);
  margin-top: 10px;
  margin-bottom: 20px;
}

.float-main {
  float: left;
  height: 400px;
  margin-top: 10px;
}

.top {
  background-color: rgba(171,207,231,255);
  height: 50px;
}